@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
body {
    padding-top:20px;
}
.text-top {
    background-color: #007cba;
    color: white;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 4px 10px;
    font-weight: 600;
}

.images-header {
    margin: 0 auto;
    text-align: center;
    display: block;
}

section.faq {
    .title-faq {
        h1 {
            color: #85be1d;
            line-height: 1;
            font-weight: 400;
            font-size: 32px;
        }
        h3 {
            font-weight: 300;
            line-height: 1;
            margin-bottom: 0px;
            color: #000000;
            font-size: 24px;
        }
    }
    .card-custom {
        margin-bottom: 15px;
        .card-header {
            background-color: #85be1d !important;
            a {
                &:hover {
                    text-transform: none;
                    color: white;
                }
                h5 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 16px;
                }
            }
        }
        .card-body-green {
            background-color: #85be1d !important;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            & div {
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                a {
                    color: white;
                }
            }
        }
    }
}

.footer {
    margin-top:3rem;
}
.navbar {
    border-bottom:1px solid #eee;
}
