@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6, div {
    font-family: 'Montserrat', sans-serif;
}
body {
    padding-top:20px;
}
.text-top {
    background-color: #007cba;
    color: white;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 4px 10px;
    font-weight: 600;
    @media screen and(max-width: 425px) {
        border-radius: 12px;
        font-size: 20px;
        padding: 20px;
    }
}

.images-header {
    margin: 0 auto;
    text-align: center;
    display: block;
}

section.faq {
    .title-faq {
        h1 {
            color: #85be1d;
            line-height: 1;
            font-weight: 400;
            font-size: 32px;
        }
        h3 {
            font-weight: 300;
            line-height: 1;
            margin-bottom: 0px;
            color: #000000;
            font-size: 24px;
        }
    }
    .card-custom {
        margin-bottom: 15px;
        // border-radius: 0px;
        // @media screen and(max-width: 425px) {
        //     border-radius: 12px;
        // }
        .card-header {
            background-color: #85be1d !important;
            a {
                &:hover {
                    text-transform: none;
                    color: white;
                }
                h5 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 16px;
                }
            }
        }
        .card-body-green {
            background-color: #85be1d !important;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            // @media screen and(max-width: 425px) {
            //     border-bottom-left-radius: 12px;
            //     border-bottom-right-radius: 12px;
            // }
            & div {
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                a {
                    color: white;
                }
            }
        }
    }
}

.footer {
    margin-top:3rem;
}
.navbar {
    border-bottom:1px solid #eee;
}

.header-testimoni {
    h1 {
        color: #85be1d;
        font-weight: 600;
        margin-bottom: 0px;
        font-size: 32px;
    }
    .text {
        color: #000;
        font-weight: 300;
        font-family: "Montserrat",Sans-serif;
        font-size: 24px;
    }
}

// .swiper-slide {
//     margin-right: 0px !important;
// }

.box-paket {
    box-shadow: 0px 0px 50px -12px rgba(0,0,0,.5);
    padding-left: 310px;
    padding-right: 310px;
    transition: all 0.8s ease;
    @media screen and(max-width: 991px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and(max-width: 991px) {
        text-align: center !important;
        .title {
            padding: 14px;
            border-radius: 12px 12px 0 0;
        }
    }
    .title {
        color: #fff;
        font-family: "Montserrat",Sans-serif;
        font-weight: 700;
        font-style: italic;
        background-color: #007cba;
    }
    .price-top {
        margin-bottom: 40px;
        @media screen and(max-width: 991px) {
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
    .promo {
        margin-bottom: 40px;
        @media screen and(max-width: 991px) {
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
    .price-btm {
        @media screen and(max-width: 991px) {
            font-size: 35px;
            margin-bottom: 15px;
        }
    }
    &:hover {
        background-color: #dedede;
        transition: all 0.8s ease;
        border-radius: 12px;
    }
}
.contador {
}
.color-timer {
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size:30px;
    min-width: 70px;
    background-color: #85BE1d;
    text-align: center;
}
.item-wotch{
    color: #85BE1d !important;
}

.seru {
    display: flex;
    margin: 30px 0;
    &::before, &::after{
        display: block;
        content: "";
        border-bottom: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
            border-top: 1px solid black;
    }
    i {
        position: relative;
        top: -8px;
        margin-right: 5px;
        margin-left: 5px;
        color: #818a91;
    }
}

.button-click {
    position: relative;
    i {
        position: absolute;
        right: 0;
    }
}